<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar nova posição</title>
  </head>
  <body>
    <h1>Adicionar nova posição</h1>
    <form action="/positions" method="post">
      <label for="x">X:</label>
      <input type="text" id="x" name="x"><br><br>
      <label for="y">Y:</label>
      <input type="text" id="y" name="y"><br><br>
      <label for="z">Z:</label>
      <input type="text" id="z" name="z"><br><br>
      <label for="j1">J1:</label>
      <input type="text" id="j1" name="j1"><br><br>
      <label for="j2">J2:</label>
      <input type="text" id="j2" name="j2"><br><br>
      <label for="j3">J3:</label>
      <input type="text" id="j3" name="j3"><br><br>
      <input type="submit" value="Adicionar">
    </form>
  </body>
</html>